[project]
name = "bayesmbar"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pytest>=8.3.2",
    "jax>=0.4.31",
    "blackjax>=1.2.3",
    "ipython>=8.27.0",
    "networkx>=3.3",
    "tqdm>=4.66.5",
    "sphinx>=8.0.2",
    "sphinx-copybutton>=0.5.2",
    "nbsphinx>=0.9.5",
    "sphinx-autoapi>=3.3.1",
    "sphinx-book-theme>=1.1.3",
    "marimo>=0.8.15",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
